
*{
	font-family: Arial;
}

.format-square{
	width: 55%;
	margin: auto;
	padding: 3%;
}

h5 {
	color:#8C8C85;
	padding: 5%;	
	padding-left: 0px;
}

p {
	font-size: 13px;
	color: black;
}


form input{
	width: 400px;
	height: 35px;
	border: 1px solid #fff;
	border-bottom: 1px solid #390;
	margin-left: -25%;
	margin-top: 10px;
}

form button {
width: 200px;
margin: 40px 0 30px 30px;
padding: 9px;
background-color: #390;
border-radius: 5px;
font-size: 15px;
font-weight: bold;
margin-left: -65%;
margin-top: 20%;
}

font {
font-size: 12px;
color:#8C8C85;
margin-left: -59%;
}


.asterisk{
	width: 2%;
}

.checkbox{
	width: 2.5%;
	margin-left: 1%; 
	display: block;
}

.observaciones{
	border:1px solid #E6E6E6;
height: 70px;
}